@import 'react-time-picker/dist/TimePicker.css';
@import 'react-clock/dist/Clock.css';


/* globals.css */

/* 1. Tailwind base - includes Tailwind's default styles */
@tailwind base;

/* 2. Tailwind components - includes Tailwind's component classes */
@tailwind components;

/* 3. Tailwind utilities - includes Tailwind's utility classes */
@tailwind utilities;


/* You can add any additional global CSS rules below */
body {
  @apply bg-gray-100 text-gray-900;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Example custom font */
}
